a:-webkit-any-link {
    color: #000;
    cursor: auto;
    text-decoration: none;
}

p,h1,h2,h3 {
  display: block;
  margin-bottom: 16px;
}

p {
  font-size: 1.3em;
  line-height: 1.4em;
}

.menu-item {
  width: 56px;
  display: inline-block;
  text-decoration: none;
}

.icon-text {
  display: block;
  color: #fff;
  font-size: 16px;
}

.container {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.site-wrap {
  background: linear-gradient(-45deg, #EE7752, #4169e1, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: table;
  table-layout: fixed;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

#home {
  background: none;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.hide {
  display: none !important;
  visibility: hidden;
  opacity: 0 !important;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.enlarge {
  font-size: 5.5em !important;
  transition: font-size 1s linear;
}

.remove {
  display: none !important;
}

.content {
  position: relative;
  background: #e9ebee;
  display: none;
  width: 100%;
  height: 0px;
  color: #000;
  z-index: 3;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

#close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  margin-right: 10px;
  font-size: 50px;
  color: #fff;
  z-index: 7;
}

.expand {
  display: block !important;
}

.fixed {
  z-index: 5;
  background: linear-gradient(-45deg, #EE7752, #4169e1, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  padding: 10px;
  margin-bottom:0;
  position: fixed;
}

.offset {
  padding-top: 76px;
  vertical-align: none;
}

.portfolio-items {
  margin: auto;
  width: 948px;
  max-width: 100%;
}

.portfolio-item {
  width: 300px;
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin: 0px 8px 15px 8px;
  position: relative;
}

.portfolio-details {
  display: block;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,0.6);
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -ms-transition: height 500ms;
  -o-transition: height 5800ms;
  transition: height 500ms;
}

.portfolio-title {
  display: block;
  padding: 6px 0;
  font-size: 2em;
}

.portfolio-tags {
  display: block;
  padding: 0px 0 6px 0;
  font-size: 1em;
}

.portfolio-item:hover .portfolio-details{
  height: 225px;
  background: rgba(255,255,255,0.9);
}

.fa-user::before, .fa-archive::before, .fa-envelope-open::before {
  color: #fff;
}

.namefont {
  font-size: 3em !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
}

.titlefont {
  font-size: 1.5em !important;
}

.profile-image {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.dev {
  color: #FF0 !important;
}

.portfolio-description {
    padding: 20px;
    display: block;
    line-height: 20px;
    font-size: 18px;
}

.github-button {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 20px;
}

.blinking-cursor {
  font-weight: 100;
  color: #FFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

span.profile-tag {
    display: inline-block;
    background: royalblue;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 17px;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #FFF;
  }
}

@media only screen and (max-width: 1027px) {
  .portfolio-items {
    width: 632px;
  } 
}

@media only screen and (max-width: 711px) {
  .portfolio-items {
    width: 301px;
  } 
  #name {
    font-size: 3em !important;
  }
}

@media only screen and (min-width: 769px) {
  .left-tags .profile-tag {
    width: 180px;
  }
  .right-tags .profile-tag {
    width: 240px;
  }
}